<div class="row">
    <div class="col-lg-6 col-xlg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> <i class="mdi mdi-account-location"></i>MI PERFIL</h4>
                <h6 class="card-subtitle">Consulta tus estadísticas (número de publicaciones, usuarios a los que sigues y que te siguen)</h6>
                <div class="button-group">
                    <button type="button" class="btn waves-effect waves-light btn-info"><i class="mdi mdi-apple-keyboard-control"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xlg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> <i class="mdi mdi-table"></i>TIMELINE</h4>
                <h6 class="card-subtitle">El tablón donde puedes ver tus publicaciones y las de los amig@s a los que sigues</h6>
                <div class="button-group">
                    <button type="button" class="btn waves-effect waves-light btn-info"><i class="mdi mdi-apple-keyboard-control"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xlg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> <i class="mdi mdi-human-handsup"></i>GENTE</h4>
                <h6 class="card-subtitle">Conoce a todos los usuario de CARADVISOR</h6>
                <div class="button-group">
                    <button type="button" class="btn waves-effect waves-light btn-info"><i class="mdi mdi-apple-keyboard-control"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xlg-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> <i class="mdi mdi-message-text"></i>MENSAJES</h4>
                <h6 class="card-subtitle">Por supuesto, que no falte un módulo de mensajería privada</h6>
                <div class="button-group">
                    <button type="button" class="btn waves-effect waves-light btn-info"><i class="mdi mdi-apple-keyboard-control"></i></button>
                </div>
            </div>
        </div>
    </div>




</div>